@import "~antd/dist/antd.css";

.ant-layout-header .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-background {
  height: calc(100% - 60px) !important;
  overflow: auto;
}

#root,
.ant-layout {
  height: 100% !important;
}

.author {
  text-transform: capitalize;
}

.title {
  font-size: 1rem;
}
